## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'], axis=1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [7]:
# Cast IS_SUCCESSFUL and STATUS columns as boolean for clarity
application_df['IS_SUCCESSFUL'] = application_df['IS_SUCCESSFUL'].astype(bool)
application_df['STATUS'] = application_df['STATUS'].astype(bool)
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                      bool
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL               bool
dtype: object

In [10]:
# Determine the number of unique values in each column.
# First limit to only columns with object datatype
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [12]:
# Check number of unique values for the object columns only
application_df[application_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [13]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_type_counts = application_df['APPLICATION_TYPE'].value_counts()
app_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [15]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [16]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [17]:
# You may find it helpful to look at CLASSIFICATION value counts >1
filtered_classification_counts = classification_counts[classification_counts > 1]
filtered_classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [18]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace
cutoff_value = 1883
classifications_to_replace = []
for classification, count in classification_counts.items():
  if count < cutoff_value:
    classifications_to_replace.append(classification)

# Look at the list of classifications to replace
classifications_to_replace

['C7000',
 'C1700',
 'C4000',
 'C5000',
 'C1270',
 'C2700',
 'C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [19]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [20]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_transformed = pd.get_dummies(application_df)

# Look at results
application_df_transformed.dtypes

STATUS                           bool
ASK_AMT                         int64
IS_SUCCESSFUL                    bool
APPLICATION_TYPE_Other           bool
APPLICATION_TYPE_T10             bool
APPLICATION_TYPE_T19             bool
APPLICATION_TYPE_T3              bool
APPLICATION_TYPE_T4              bool
APPLICATION_TYPE_T5              bool
APPLICATION_TYPE_T6              bool
APPLICATION_TYPE_T7              bool
APPLICATION_TYPE_T8              bool
APPLICATION_TYPE_T9              bool
AFFILIATION_CompanySponsored     bool
AFFILIATION_Family/Parent        bool
AFFILIATION_Independent          bool
AFFILIATION_National             bool
AFFILIATION_Other                bool
AFFILIATION_Regional             bool
CLASSIFICATION_C1000             bool
CLASSIFICATION_C1200             bool
CLASSIFICATION_C2000             bool
CLASSIFICATION_C2100             bool
CLASSIFICATION_C3000             bool
CLASSIFICATION_Other             bool
USE_CASE_CommunityServ           bool
USE_CASE_Heathcare               bool
USE_CASE_Other                   bool
USE_CASE_Preservation            bool
USE_CASE_ProductDev              bool
ORGANIZATION_Association         bool
ORGANIZATION_Co-operative        bool
ORGANIZATION_Corporation         bool
ORGANIZATION_Trust               bool
INCOME_AMT_0                     bool
INCOME_AMT_1-9999                bool
INCOME_AMT_10000-24999           bool
INCOME_AMT_100000-499999         bool
INCOME_AMT_10M-50M               bool
INCOME_AMT_1M-5M                 bool
INCOME_AMT_25000-99999           bool
INCOME_AMT_50M+                  bool
INCOME_AMT_5M-10M                bool
SPECIAL_CONSIDERATIONS_N         bool
SPECIAL_CONSIDERATIONS_Y         bool
dtype: object

In [22]:
# Split our preprocessed data into our features and target arrays
y = application_df_transformed['IS_SUCCESSFUL'].values
X = application_df_transformed.drop(['IS_SUCCESSFUL'], axis = 1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [30]:
# Find the shape of the IS_SUCCESSFUL data
y.shape

(34299,)

In [28]:
# Find the shape of the remaining data
X.shape

(34299, 44)

In [29]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [31]:
# Find out how many columns are in the X data
len(X_train[0])

44

## Compile, Train and Evaluate the Model

In [47]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = 80, input_dim = 44, activation = "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = 30, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_12"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_16 (Dense)            (None, 80)                3600

 dense_17 (Dense)            (None, 30)                2430

 dense_18 (Dense)            (None, 1)                 31

=================================================================
Total params: 6061 (23.68 KB)
Trainable params: 6061 (23.68 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [48]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [49]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs = 100)

Epoch 1/100
804/804 [==============================] - 3s 4ms/step - loss: 0.7114 - accuracy: 0.7260
Epoch 2/100
804/804 [==============================] - 4s 5ms/step - loss: 0.7064 - accuracy: 0.7293
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7032 - accuracy: 0.7305
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7068 - accuracy: 0.7298
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7222 - accuracy: 0.7236
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7156 - accuracy: 0.7239
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7074 - accuracy: 0.7293
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7180 - accuracy: 0.7273
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7152 - accuracy: 0.7271
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7213 - accuracy: 0.7251
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7048 - accuracy: 0.7307
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7056 - accuracy: 0.7315
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7094 - accuracy: 0.7289
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7138 - accuracy: 0.7273
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7141 - accuracy: 0.7312
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7101 - accuracy: 0.7302
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7118 - accuracy: 0.7291
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7182 - accuracy: 0.7257
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7072 - accuracy: 0.7303
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7048 - accuracy: 0.7310
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7098 - accuracy: 0.7310
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7066 - accuracy: 0.7311
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7244 - accuracy: 0.7275
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7146 - accuracy: 0.7276
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7122 - accuracy: 0.7310
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7167 - accuracy: 0.7309
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7152 - accuracy: 0.7295
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7136 - accuracy: 0.7297
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7077 - accuracy: 0.7305
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.7120 - accuracy: 0.7311
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7245 - accuracy: 0.7293
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7129 - accuracy: 0.7286
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7161 - accuracy: 0.7309
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7109 - accuracy: 0.7293
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7050 - accuracy: 0.7315
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7067 - accuracy: 0.7290
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7133 - accuracy: 0.7301
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.7044 - accuracy: 0.7315
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.7113 - accuracy: 0.7307
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7084 - accuracy: 0.7310
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7068 - accuracy: 0.7311
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.7078 - accuracy: 0.7308
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7141 - accuracy: 0.7297
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7071 - accuracy: 0.7317
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7075 - accuracy: 0.7318
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7261 - accuracy: 0.7275
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7225 - accuracy: 0.7268
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7124 - accuracy: 0.7299
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7069 - accuracy: 0.7302
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7179 - accuracy: 0.7303
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7066 - accuracy: 0.7298
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7062 - accuracy: 0.7302
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7088 - accuracy: 0.7315
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7156 - accuracy: 0.7306
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7089 - accuracy: 0.7292
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7083 - accuracy: 0.7307
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7082 - accuracy: 0.7313
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7111 - accuracy: 0.7299
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7137 - accuracy: 0.7306
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7090 - accuracy: 0.7313
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7134 - accuracy: 0.7311
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7278 - accuracy: 0.7277
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7104 - accuracy: 0.7311
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7122 - accuracy: 0.7238
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.7058 - accuracy: 0.7313
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7107 - accuracy: 0.7263
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7078 - accuracy: 0.7294
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7162 - accuracy: 0.7308
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7097 - accuracy: 0.7306
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7083 - accuracy: 0.7308
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7146 - accuracy: 0.7292
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7115 - accuracy: 0.7313
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7157 - accuracy: 0.7310
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7083 - accuracy: 0.7316
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7092 - accuracy: 0.7305
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7214 - accuracy: 0.7287
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7116 - accuracy: 0.7276
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7075 - accuracy: 0.7310
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7065 - accuracy: 0.7293
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7450 - accuracy: 0.7271
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7516 - accuracy: 0.7236
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.7394 - accuracy: 0.7285
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.7158 - accuracy: 0.7269
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7011 - accuracy: 0.7315
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7065 - accuracy: 0.7289
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7163 - accuracy: 0.7264
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7133 - accuracy: 0.7313
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7046 - accuracy: 0.7314
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7042 - accuracy: 0.7315
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7143 - accuracy: 0.7316
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7200 - accuracy: 0.7284
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7070 - accuracy: 0.7301
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7135 - accuracy: 0.7310
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7143 - accuracy: 0.7310
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7190 - accuracy: 0.7312
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7156 - accuracy: 0.7306
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7101 - accuracy: 0.7322
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7137 - accuracy: 0.7304
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7158 - accuracy: 0.7323
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7120 - accuracy: 0.7303

In [50]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.7435 - accuracy: 0.4477 - 662ms/epoch - 2ms/step
Loss: 0.74347984790802, Accuracy: 0.4476968050003052

In [51]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(